<%= bootstrap_form_for(@plane, layout: :horizontal) do |f| %>
  
  <div class="field">
    <%= f.text_field :ac_type %>
  </div>
  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.select(:state, Plane.states.keys.map {|state| [state.titleize,state]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
