<p>
  <strong>Ac type:</strong>
  <%= @plane.ac_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @plane.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @plane.state %>
</p>

<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %>
