<%= bootstrap_form_for(@note, layout: :horizontal) do |f| %>

  <div class="field">
    <%= f.select(:plane_id, Plane.all.collect {|p| [p.name, p.id]} ) %>
  </div>
  <div class="field">
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.select(:state, Note.states.keys.map {|state| [state.titleize,state]}) %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
