<p id="notice"><%= notice %></p>

<p>
  <strong>Plane:</strong>
  <%= @note.plane_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>State:</strong>
  <%= @note.state %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<% @note.items.each do |item| %>
  <p>
    <%= item.text %>
  </p>
<% end %>

<h2>Add an item to this note:</h2>
<%= form_for([@note, @note.items.build]) do |f| %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
