<p id="notice"><%= notice %></p>

<h2><%= @note.title %></h2>
<p>
  <strong>Plane:</strong>
  <%= @note.plane.name %>
</p>
<p>
  <strong>State:</strong>
  <%= @note.state %>
</p>
<p>
  <strong>Author:</strong>
  <%= @note.user_id %>
</p>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Text</th>
      <th>Created</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @note.items.each do |item| %>
      <tr>
        <td><%= item.text %></td>
        <td><%= item.created_at %></td>
        <td><%= link_to 'Edit', edit_note_item_path(@note, item), class: 'btn btn-xs btn-default'  %></td>
        <td><%= link_to 'Destroy', [@note, item], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Item', new_note_item_path(@note), class: 'btn btn-primary' %>
<%= link_to 'Edit Note', edit_note_path(@note), class: 'btn btn-default' %>
<%= link_to 'Back', notes_path, class: 'btn btn-default' %>
