<%= bootstrap_form_for(@user, layout: :horizontal) do |f| %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
  </div>
  <div class="field">
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
