<h1>Change Password</h1>

<%= bootstrap_form_for(@user, url: update_password_path, layout: :horizontal) do |f| %>
  
  <div class="field">
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @user, class: 'btn btn-default'  %>
<%= link_to 'Back', users_path, class: 'btn btn-default' %>
