<h3><%= @user.name.titleize %></h3>
<div class = 'row'>
<div class = 'col-md-4'>
<ul class='list-group'>
	<li class = 'list-group-item'><%= @user.email %></li>
	<li class = 'list-group-item'><span class='label label-default'><%= @user.role.upcase %></span></li>
	<li class = 'list-group-item'>last sign in: <%= @user.last_sign_in_at %></li>
	<li class = 'list-group-item'>last sign in IP: <%= @user.last_sign_in_ip %></li>
	<li class = 'list-group-item'>reset password sent: <%= @user.reset_password_sent_at %></li>
</ul>
</div>
</div>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default' %>
<%= link_to 'Back', users_path, class: 'btn btn-default' %>